<h2 mat-dialog-title>{{params.title}}</h2>

<form [formGroup]="loginForm" (ngSubmit)="onLogIn()">

  <mat-dialog-content>
    <mat-form-field>
      <input matInput name="username" placeholder="Username"
             [(ngModel)]="user.username" (keyup.enter)="onLogIn()" [formControlName]="'username'" required>
      <mat-error>This field is required</mat-error>
      <mat-hint>Please type your username</mat-hint>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-content>
    <mat-form-field>
      <input matInput name="password" placeholder="Password" type="password"
             [(ngModel)]="user.password" (keyup.enter)="onLogIn()" [formControlName]="'password'" required>
      <mat-error>This field is required</mat-error>
      <mat-hint>Please type your password</mat-hint>
    </mat-form-field>
  </mat-dialog-content>


  <mat-dialog-actions [attr.align]="'end'">
    <button mat-button mat-dialog-close color="secondary" type="button">Close</button>
    <button mat-raised-button color="primary" type="submit">Log in</button>
  </mat-dialog-actions>

</form>
